body {
  background-image: url("back.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  background-color: #911717;
}

a {
  color: grey;
  font-weight: 500;
}

// a:hover {
//   color: white;
// }

#submit {
  background-color: white;
}

#submit:hover {
  background-color: white;
  border: 1px solid grey;
}

.container {
  margin-top: 3rem;
}

.col-3,
.col-1,
.col-2 {
  padding-top: 18px;
  text-align: center;
}

.row {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#delete_btn {
  color: grey;
  font-weight: 450;
}

#delete_btn:hover {
  cursor: pointer;
  color: white;
}

.btn-primary {
  background-color: #d9d8d8;
  border: none;
  color: black;
}
