
$color:#283136;
$color-light:#5265f7;
$color-lighter:#c6cdff;
$color-darker:#1a3170;

@import "../vendor/twbs/bootstrap/scss/bootstrap.scss";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
@import "./partials/sidebar";

*{
    box-sizing: border-box;
}
html, body{
    height:100%;
    width:100%; 
}
body{
    background-color: #fafafa !important;
}
.sh{
    box-shadow:0px 0px .5rem #33333311;
}
.sh-dark{
    box-shadow:0px 0px .5rem #33333322;
}
.sh-darker{
    box-shadow:0px 0px .5rem #33333333;
}

.rounded-sm{
    border-radius:0.5rem;
}
.rounded-md{
    border-radius:0.75rem;
}
.rounded-lg{
    border-radius:1rem;
}

.not-on-desktop{
    display:none;
}
.not-on-mobile{
    display: block;
}

@media screen and (max-width: 768px){
    .not-on-desktop{
        display: block;
    }
    .not-on-mobile{
        display:none;
    }
    .content>.sh-darker, .content>.sh-dark, .content>.sh {
        box-shadow:none;
    }
}

